header{
    color: #C610F3; 
    font-size: 55px;

}
p {
    font-size: 35px;    
    font-family: "Trebuchet MS";
    font-weight: bold;
    font-style: normal;
    color: rgb(212, 60, 60) ;
    text-align: right;
  }
body{
    background-image: url(https://i.pinimg.com/736x/93/d7/e1/93d7e14a328ff2e2cf2f056db8848051.jpg);
}
footer{
    font-size: 55px;    
    font-family: "Trebuchet MS";
    font-weight: bold;
    font-style: normal;
    color: #C610F3;
    text-align: right;
}
